SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
EMAIL_SENDER=xxxxxxx@gmail.com
EMAIL_PASSWORD="xxxx xxxx xxxx xxxx" # google app password
EMAIL_RECEIVER=xxxxxxxxxxxxxx

DEF_CURRENCY=RSD
EXCHANGE_API_KEY=xxxxxxxxxxxxxx
EXCHANGE_URL="https://openexchangerates.org/api/latest.json"
LIST_CURRENCIES='USD,EUR,CHF,CAD,SEK,RSD'